absl_py
adal
aiohttp
applicationinsights
argcomplete
async_timeout
asyncio_atexit
attrs
azure_cli_core
azure_cli_telemetry
azure_common
azure_core
azure_identity
azure_keyvault_secrets
azure_mgmt_core
azure_storage_blob
bcrypt
cachetools
certifi
cffi
chardet
charset_normalizer
click
cryptography
datadog
decorator
deepdiff
docker_pycreds
frozendict
fsspec
gitdb
gitpython
google_auth
google_auth_oauthlib
grpcio
humanfriendly
idna
isodate
jmespath
knack
markdown
markupsafe
msal
msal_extensions
msrest
msrestazure
multidict
mypy_protobuf
numpy
oauthlib
opencv_python
ordered_set
packaging
pandas
paramiko
pathtools
pillow
pkginfo
polyline
portalocker
promise
protobuf
psutil
py
py3nvml
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydeprecate
pygments
pyjwt
pynacl
pyopenssl
pyparsing
pysocks
python_dateutil
python_json_logger
pytorch_lightning
pytz
pyyaml
requests
requests_oauthlib
retry
rsa
scipy
sentry_sdk
setproctitle
setuptools
shortuuid
simplejpeg
six
slack_sdk
smmap
tabulate
tensorboard
tensorboard_data_server
tensorboard_plugin_wit
torch
torchdata
torchmetrics
tqdm
types_protobuf
typing_extensions
urllib3
wandb
werkzeug
wheel
xmltodict
yarl